* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.contener{
    /* border: 2px solid rgb(0, 0, 0) ; */
     /* margin-top: 20px; */
     width: 50%;
     border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 5, 1, 0.9);
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.display {
    width: 100%;
    margin-top: 50px;
    background-color: rgb(213, 212, 210);
    /* color: rgb(255, 254, 254); */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
input{
    width: 100%;
     border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 30px;
}
button{
    margin-top: 20px;
     border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    cursor: pointer;
}