* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    /* height: 200px; */
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 40px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #ff2e0d;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    /* border: 2px solid #ff5945;  */
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
} 
ul li.checked {
    text-decoration: line-through;
    color: #888;
}
ul li.checked::before {
    background-image: url(images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    color: #de9189;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
ul li span:hover {
    color: #ffffff;
    background-color: #ff3700;
    border-radius: 50%;
}